footer {
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $color1;
  padding: 0 5rem;
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  li {
    display: inline-block;
  }
  a {
    text-decoration: none;
    font-family: $font2;
    color: $black;
    font-size: 14px;
  }
  .legal {
    li {
      margin: 0 2.063rem;
    }
    a {
      transition: ease-in-out all 0.15s;
      &:hover {
        color: #424242;
      }
    }
  }
  .social {
    li {
      margin: 0 0.938rem;
    }
    a {
      img {
        transition: ease-in-out all 0.15s;
      }
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}
@media only screen and (max-width: 1430px) {
  footer {
    padding: 0 10px;
    .legal {
      li {
        margin: 0 1rem;
      }
    }
    .social {
      li {
        margin: 0 0.4rem;
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  footer {
    height: auto;
    flex-direction: column-reverse;
    padding: 34px 10px;
    .legal {
        margin: 0;
      li {
        margin: 0 0 30px 0;
        width: 100%;
        text-align: center;
        &:last-child{
            margin-bottom: 0;
        }
      }
    }
    .social{
        margin: 0 0 30px 0;
    }
  }
}
